.cv{
    display: grid;
    grid-template: 100% / 41% 61%;
}

.line {
    height: 0.125rem;
    margin-top: 0%;
  width: 120px;
  background-color: black;
  margin-bottom: 34px;
}

.cv-izquierda{
    place-content: center;
    place-items: center;
    display: grid;
    grid-template: auto / 740px ;
}

.text{
    place-content: start;
    place-items: start;
}

.title{
    text-align: start;
    place-content: center;
}

.cv-nombre{
    margin-top: 20px;
    margin-bottom: 94px;
}

.text p{
    margin-bottom: 94px;
}

.cv-img{
    display: flex;
    place-content: center;
    place-items: center;
}

.cv-img img{
    margin-bottom: 20px;
    width: 244px;
    height: 244px;
}

h1{
    font-family: 'rubik';
    font-size: 40px;
    text-align: start
}

b{
    font-family: 'rubik';
    font-size: 20px;
}

.cv-izquierda p{
    font-family: 'rubik';
    font-size: 20px;
    width: 400px;
    text-align: start;
    line-height: 30px;
}

/*cv derecha*/

.cv-derecha{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template: repeat(4,auto)/ auto;
    background-color: #F8F8F8;
}

.cv-derecha-section{
    margin-top: 100px;
    place-content: start;
    place-items: start;
}

.cv-derecha-section-experience{
    margin-bottom: 20px;
}

.cv-derecha-section-estudio{
    display: grid;
    grid-template: repeat(2,20px / 120px);
    text-align: left;
    place-content: left;
    place-items: left;
}

.cv-derecha p {
    font-family: 'rubik';
    font-size: 20px;
    margin-bottom: 34px;
    line-height: 30px;
}

.ability{
    display: grid;
    grid-template: repeat(4,auto) / repeat(3,auto);
    gap: 39px 168px;
    flex-direction: row;
}

.final-text{
    padding-bottom: 94px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-linkedin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 148px;
}

.contact p, .contact-linkedin p{
    margin:0% ;
}

.contact img, .contact-linkedin img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.contact a, .contact-linkedin a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.contact-ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-ubicacion img{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.contact-ubicacion p {
    margin: 0%;
}

@media screen and (max-width:1024px){
    .cv{
        grid-template: repeat(2,auto) / 100%;
    }

    .cv-izquierda{
        border: 1px solid red;
        place-content: start;
        margin-left: 40px;
        place-items: start;
        display: grid;
        grid-template: auto / 740px ;
    }



}